.container{
    width: 100vw;
    height: 100%;
}

.hero{
    width: 100vw;
    height: 100vh;
    background: url("/hero/image1.jpg") no-repeat 50% 50%;
    background-size: cover; 
}

.footer {
    width: 100vw;
    height: 100vh;
    background: url("/hero/image2.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.services {
    background: #646464;
    padding: 8em 2em;
    display: flex;
    flex-direction: column;
}

.serviceHeader{
    width: 100%;
    display: flex;
    gap: 4em;
}

.serviceHeader .col:nth-child(1){
    flex: 2;
}

.serviceHeader .col:nth-child(2){
    flex: 5;
    padding: 1em;
}

.service {
    display: flex;
    gap: 2em;
    height: 150px;
    border-top:  1px solid rgba(255,255,255, 0.2);
}

.serviceInfo {
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content :space-between;
    padding: 1em;
}

.serviceImg{
    flex: 5;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.img{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

