.container {
  width: 100%;
  height: 100svh;
  background-color: #141414;
  display: flex;
  justify-content: flex-end; /* moves to right side */
  align-items: center;       /* vertically center it */
  padding-right: 4rem;       /* add space from right edge */
}



.canvas-container {
  position: relative;
  width: 60%;
  height: 80%;
  background-color: #222;
  border-radius: 1rem;
  border: 1px solid #555;
  box-shadow:
    0 0 50px 10px rgba(187, 187, 187, 0.4),  /* soft outer glow */
    0 0 0 2px #9e9090,                         /* mid ring */
    0 0 0 8px #bbb;                         /* outer ring */
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 1;
}
