.section {
  width: 100%;
  padding: 2em;
}

.row {
  width: 100%;
  display: flex;
  gap: 2em;
}

.col {
  flex: 1;
  display: flex;
  gap: 1em;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 4/5;
}

.hero h1 {
  margin-top: 3em;
  text-align: center;
  text-transform: uppercase;
  font-size: 8.75vw;
  font-weight: 500;
  letter-spacing: -0.02vw;
}

.info {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}

.info p {
  width: 25%;
}

.heroImgs {
  margin-top: 10em;
}

.clients {
  display: flex;
}

.clientsList {
  flex: 1;
}

.clientsImgs {
  margin-top: 4em;
}

.clientsImgs .row {
  height: 600px;
}

.productFilters {
  padding-bottom: 1em;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.products {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.about {
  display: flex;
}

.about p {
  margin-top: 8em;
  flex: 1;
}

.outro .row {
  margin-top: 8em;
}

.img1 .mask,
.img6 .mask,
.img12 .mask {
  background: url("/hero/image1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.img2 .mask,
.img7 .mask,
.img14 .mask {
  background: url("/hero/image1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.img3 .mask,
.img15 .mask {
  background: url("/hero/image1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.img4 .mask,
.img10 .mask {
  background: url("/hero/image1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.img5 .mask,
.img16 .mask,
.img11 .mask {
  background: url("/hero/image1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.img8 .mask,
.img17 .mask {
  background: url("/hero/image1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.img9 .mask,
.img13 .mask {
  background: url("/hero/image1.jpg") no-repeat 50% 50%;
  background-size: cover;
}