
.section {
  width: 100%;
  height: 100svh;
}

.section.about,
.section.services {
  padding: 4rem;
  background:#87795f;
}

.footer{
    height: 100svh;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.section.footer h1{
  font-size: 10vw;
  text-transform: uppercase;
}

.section.marquees{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.marquee-container {
  position: relative;
  width: 125%;
  height: 200%;
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
}

.marquee {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  gap:1rem;
}

#marquee-1 .marquee,
#marquee-3 .marquee{
  left: -15%;
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-with-text {
  flex: 1.5;
}

.item h1{
  text-transform: uppercase;
  font-size: 60px;
}

@media (max-width:900px){
  .section.marquees{
    height: 100vh;
    /* background-color: black; */
  }

  .marquee-container{
    width: 250%;
    height: 150px;
  }

  #marquee-2 .marquee,
  #marquee-4 .marquee {
    left: -35%;
  }

  .item.with-text{
    flex: 1;
  }

  .item h1{
    font-size: 30px;
  }
}