@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --bg: #171717;
  --fg: #fff;
  --menu-bg: #0f0f0f;
  --menu-fg-secondary: #5f5f5f;
  --hamburger-icon-border: rgba(255, 255, 255, 0.1);
}

/* h1 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  line-height: 1;
}
p {
  font-size: 0.95rem;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: var(--fg);
  font-size: 1.5rem;
  font-weight: 500;
} */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* below this line is the for the test of the other compoentn  */





