@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --bg: #171717;
  --fg: #fff;
  --menu-bg: #0f0f0f;
  --menu-fg-secondary: #5f5f5f;
  --hamburger-icon-border: rgba(255, 255, 255, 0.1);
}

/* h1 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  line-height: 1;
}
p {
  font-size: 0.95rem;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: var(--fg);
  font-size: 1.5rem;
  font-weight: 500;
} */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* below this line is the for the test of the other compoentn  */





section {
  width: 100%;
  height: 100%;
}

section.about,
section.services {
  padding: 4rem;
  background:#87795f;
}

section.footer h1{
  font-size: 10vw;
  text-transform: uppercase;
}

section.marquees{
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.marquee-container {
  position: relative;
  width: 125%;
  height: 250%;
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
}

.marquee {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50);
  display: flex;
  gap:1rem;
}

#marquee-1 .marquee,
#marquee-3 .marquee{
  left: -15%;
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-with-text {
  flex: 1.5;
}

.item h1{
  text-transform: uppercase;
  font-size: 140px;
}

@media (max-width:900px){
  section.marquees{
    height: 100vh;
  }

  .marquee-container{
    width: 250%;
    height: 150px;
  }

  #marquee-2 .marquee,
  #marquee-4 .marquee {
    left: -35%;
  }

  .item.with-text{
    flex: 1;
  }

  .item h1{
    font-size: 60px;
  }
}

/* lenis scroll  */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth{
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [ data-lenis-prevetn]{
  overscroll-behavior: contain;
}

.lenis.lenis-stopped{
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}