@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lenis.lenis-smooth{
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [ data-lenis-prevetn]{
  overscroll-behavior: contain;
}

.lenis.lenis-stopped{
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

a,
p {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}